[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://github.com/openembedded/meta-openembedded
	branch = dunfell
[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
	branch = dunfell
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = git://github.com/openembedded/openembedded-core
	branch = dunfell
[submodule "sources/meta-tegra"]
	path = sources/meta-tegra
	url = git://github.com/OE4T/meta-tegra
	branch = master
[submodule "sources/bitbake"]
	path = sources/bitbake
	url = git://github.com/openembedded/bitbake
	branch = master
[submodule "sources/meta-torta"]
	path = sources/meta-torta
	url = git@github.com:bairyn/meta-torta
	branch = main
